@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  min-height: 100%;
  overflow: auto; /* when changed to overflow: hidden; only frontpage is shown */
}

/*scrollreveal.js - https://scrollrevealjs.org/guide/user-experience.html , this is important when using scrollrevealjs*/
html.sr .load-hidden {
  visibility: hidden;
}

body {
  /*
  background-image, used as a linear-gradient so that the background has multiple different colors,
  using height and vh so that I can 2 different colored backgrounds per screen
  */
  background-image: linear-gradient(
    to bottom,
    #1d212b 0%,
    #1d212b 56%,
    #494b4e 56%,
    #494b4e 100%
  );
  height: 206vh;
}

/* FRONTPAGE */

/* navbar */
nav {
  position: relative;
  top: 1.5em;
}

.nav-left {
  float: left;
  margin-left: 3.5%;
}

.nav-right {
  float: right;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 5em;
  margin-top: 1.5em;
  position: relative;
}

nav ul h1 {
  color: white;
  font-weight: 500;
  border: 1px solid #fff;
  padding: 0.75em;
  display: inline-block;
  cursor: pointer;
}

nav ul li {
  list-style-type: none;
  margin-right: 5em;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  transition: 0.2s;
  padding: 10% 25%;
  border: 1px solid transparent;
}

nav ul a:hover {
  color: #fff;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 0.175em;
}

/* hello-card */
section {
  width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:first-of-type {
  position: relative;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 0.1em;
  line-height: 2.2em;
}

/* parralax images */

section img {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 110%;
  height: 60%;
  filter: grayscale(90%);
  z-index: -1;
}

/* hello-card glass container */

.container {
  width: 100%;
  height: 100%;
  padding: 5%;
  margin-left: 27%;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.line {
  position: relative;
  top: 50%;
  width: 13.4em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 1.5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

/* hello-card text */

section p {
  font-size: 2.2em;
  font-weight: 500;
}

section h2 {
  font-weight: 400;
  font-size: 1.25em;
  padding-top: 3%;
  text-align: center;
}

/*Animation*/

.anim-typewriter {
  animation: typewriter 3.3s steps(40) 1s 1 normal both,
    blinkTextCursor 700ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 13.4em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/*Preloader*/

#preloader {
  background: #1d212b url(images/loader.gif) no-repeat center center;
  background-size: 5%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* 3 CARDS */
.cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 7em;
  overflow: hidden;
}

.card1,
.card2,
.card3 {
  margin: 2.5em;
  padding: 2em;
  background-color: #898b74;
  color: #fff;
  border: solid 1px black;
  border-radius: 0.5em;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.card1 h1,
.card2 h1,
.card3 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
}

.card1 p,
.card2 p,
.card3 p {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 400;
  font-size: 1.25em;
  padding-top: 3%;
  text-align: center;
}
